<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Test
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content chat">
    <div class="history">
        <div class="wrapper">
            <div class="msg" *ngFor="let message of messages | async" [ngClass]="(message.type == 'in') ? 'in' : 'out'">
                <div class="text">{{ message.text }}</div>
                <div class="avatar">
                    <img src="{{ user.photoURL }}" *ngIf="(message.type === 'in') && user?.photoURL!=null"/>
                    <img src="{{ message.user.photoURL }}"
                         *ngIf="(message.type === 'out') && message.user?.photoURL!=null"/>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-item>
            <input placeholder="Введите сообщение" clearInput [(ngModel)]="message">
            <button outline item-right class="button button-clear" (click)="sendMessage(message); closeKeyboard()">
                Отправить
            </button>
        </ion-item>
    </ion-toolbar>
</ion-footer>