login-page {
  .facebook-btn {
    background-color: #3b5998;
  }

  .log-in-btn {
    background-color: map-get($colors, primary);
  }

  .reg-btn {
    color: map-get($colors, primary);
  }

  .logo {
    width: 100%;
    padding-top: 10%;
    text-align: center;
  }

  .border {
    margin: 12%;
    border: 3px solid map-get($colors, primary);
    padding: 7px;
  }

  .label {
    color: map-get($colors, primary);
    text-align: center;
    font-size: larger;
  }

  .input {
    color: map-get($colors, primary);
  }

  .item-inner:not(.item-input-has-focus) {
    box-shadow: none!important;
  }

  .item-inner {
    border-bottom: 2px solid map-get($colors, primary)!important;
    box-shadow: none;
  }

  .content {
    background-color: white!important;
  }


}
