<ion-header>
    <ion-navbar>
        <button ion-button menuToggle icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Окно входа
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="center"></div>
    <div class="logo">
        <img src="assets/img/logo.png"/>
    </div>

    <form [formGroup]="loginForm" novalidate>
        <ion-item [class.error]="!login.valid && login.touched">
            <ion-label floating primary>Пользователь(email)</ion-label>
            <ion-input formControlName="login" type="text"></ion-input>
        </ion-item>

        <ion-item [class.error]="!password.valid && password.touched">
            <ion-label floating primary>Пароль</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <!--<p [hidden]="password.valid || submitted == false" danger padding-left>
            Password is required
        </p>-->

        <div padding>
            <button ion-button block (click)="onLogin($event)">Войти</button>
            <div class="center"></div>
            <button ion-button block small clear (click)="registerUser($event)">Создать аккаунт</button>
        </div>
        <div padding>
            <button ion-button block class="facebook-btn" (click)="registerUserWithFacebook()">
                <ion-icon name="logo-facebook"></ion-icon>
                &nbsp; Войти через Facebook
            </button>
        </div>
    </form>

</ion-content>
