<ion-navbar *navbar>
    <ion-title>
        {{ neighbor.firstName }} {{ neighbor.lastName }}
    </ion-title>
</ion-navbar>

<ion-content>
    <div class="details">
        <img src="{{neighbor.photoURL}}" width="100" height="100"/>
        <div>
            <h4>{{ neighbor.displayName }} </h4>
            <p *ngIf="neighbor.houseNumber!=='' || neighbor.flatNumber!==''">
                <ion-icon name="car"></ion-icon>&nbsp;{{ neighbor.auto }}<br/>
                <ion-icon name="home"></ion-icon>&nbsp;<span *ngIf="neighbor.houseNumber!==''">{{ neighbor.houseNumber }} / </span>{{ neighbor.flatNumber }}<br/>
            </p>
        </div>
    </div>
    <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-left" type="item-text-wrap"
                  href="tel:{{neighbor.mobile1}}">
            <ion-icon item-left name="phone-portrait"></ion-icon>Основной телефон<p>{{neighbor.mobile1}}</p>
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-left" type="item-text-wrap"
                  href="tel:{{neighbor.mobile2}}">
            <ion-icon item-left name="phone-portrait"></ion-icon>Дополнительный телефон<p>{{neighbor.mobile2}}</p>
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-left" type="item-text-wrap"
                  href="mailto:{{neighbor.email}}">
            <ion-icon item-left name="mail"></ion-icon>Email<p>{{neighbor.mail}}</p>
        </ion-item>
    </ion-list>
</ion-content>
