<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        Test
    </ion-title>
</ion-navbar>

<ion-content class="outer-content chat">
    <div class="header">
        <div class="friend-data">
            <div class="name">{{ chat.friend.name }}</div>
            <div class="last-seen">last seen {{ chat.lastSeen }}</div>
        </div>
        <div class="avatar">
            <img src="{{ chat.friend.picture }}" />
        </div>
    </div>
  <!--  <div class="history">
        <div class="wrapper">
            <div class="msg" ng-repeat="message in chat.messages" ng-class="(message.type == 'in') ? 'in' : 'out'">
                <div class="text">{{ message.text }}</div>
                <div class="avatar">
                    <img src="{{ profileImageURL }}" ng-if="(message.type == 'out')" />
                    <img src="{{ chat.friend.picture }}" ng-if="(message.type == 'in')" />
                </div>
            </div>
        </div>
    </div>-->
</ion-content>
<ion-toolbar position="bottom" keyboard-attach>
    <ion-item>
        <input placeholder="Type your message" clearInput [(ngModel)]="message" (click)="sendMessage(); closeKeyboard()"/>
        <button outline item-right class="button button-clear" (click)="send(message)">
            Send
        </button>
    </ion-item>
</ion-toolbar>
