board-page {
  /*
  .outer-content{
    background: linear-gradient(to top, map-get($colors, primary-reverse), map-get($colors, primary));
  }

  .item-wrapper, .item, .item-inner {
    background: transparent!important;
  }

  .item h2 {
    color : map-get($colors, text-primary)
  }

  .item p {
    color : map-get($colors, text-light)
  }
  */
}
