<ion-header>
    <ion-toolbar>
        <ion-title>
            Добавить событие
        </ion-title>
        <ion-buttons start>
            <button (click)="dismiss()">
                <span primary showWhen="ios">Отмена</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <form [formGroup]="eventForm" novalidate>
            <ion-item class="no-border">
                <ion-label floating>Наименование</ion-label>
                <ion-input formControlName="name"></ion-input>
            </ion-item>
           <ion-item class="no-border">
                <ion-label floating>Описание</ion-label>
                <ion-textarea formControlName="text"></ion-textarea>
            </ion-item>
             <ion-item class="no-border">
                <ion-label floating>Путь к картинке</ion-label>
                <ion-input formControlName="imgSrc"></ion-input>
            </ion-item>
        </form>
    </ion-list>
    <div padding>
        <button block (click)="addEvent($event)">
            <ion-icon name="add"></ion-icon>
            Добавить событие
        </button>
    </div>

</ion-content>
