utilities-page {
  #utilitis div {
    text-align: center;
    align-content: center;
    max-width: 300px;
  }

  #utilities div table {
    text-align: center;
    margin: 10px;
  }

  #utilities div table tr th {
    border: 1px solid darkgrey;
    background: #fafafc;
    height: 30px;
  }

  #utilities div table tr td {
    border: 1px solid darkgrey;
    height: 34px;
  }
}