<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        Test
    </ion-title>
</ion-navbar>

<ion-content class="outer-content chat">
    <div class="header">
        <div class="friend-data">
            <div class="name">{{ chat.user?.displayName }}</div>
        </div>
        <div class="privateItemAvatar">
            <img *ngIf="chat.user!=null" src="{{ chat.user.photoURL }}"/>
        </div>
    </div>
    <div class="history">
        <div class="wrapper">
            <div class="msg" *ngFor="let message of messages |async" [ngClass]="(message.type == 'in') ? 'in' : 'out'">
                <div class="text">{{ message.text }}</div>
                <div class="avatar">
                    <img src="{{ user.photoURL }}" *ngIf="(message.type === 'in') && user?.photoURL!=null"/>
                    <img src="{{ message.user.photoURL }}"
                         *ngIf="(message.type === 'out') && message.user?.photoURL!=null"/>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-toolbar position="bottom" keyboard-attach>
    <ion-item>
        <ion-input placeholder="Введите сообщение" clearInput [(ngModel)]="message"></ion-input>
        <button outline clear item-right (click)="sendMessage(message); closeKeyboard()">
            Отправить
        </button>
    </ion-item>
</ion-toolbar>
