<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-segment [(ngModel)]="type">
        <ion-segment-button value="rooms">
            Rooms
        </ion-segment-button>
        <ion-segment-button value="private">
            Private
        </ion-segment-button>
    </ion-segment>

    <ion-buttons end  *ngIf="type=='private'">
        <button (click)="presentFilter()">
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-buttons>

</ion-navbar>

<ion-content class="outer-content events-list" >
    <div [ngSwitch]="type">
        <ion-list *ngSwitchWhen="'rooms'">
            <ion-item-sliding *ngFor="let room of rooms">
                <button ion-item no-border (click)="openChatRoom(room.friend.id)">
                    <ion-avatar *ngIf="room.img!=null" item-left>
                        <img src="{{ room.img }}">
                    </ion-avatar>
                    <h2>{{ room.friend.name }}</h2>
                    <p>{{ room.message.text }}</p>
                </button>
            </ion-item-sliding>
        </ion-list>

        <ion-list *ngSwitchWhen="'private'">
            <ion-item-sliding *ngFor="let pr of privateRooms">
                <button ion-item no-border (click)="openPrivateRoom(pr.friend.id)">
                    <ion-avatar *ngIf="pr.img!=null" item-left>
                        <img src="{{ pr.img }}">
                    </ion-avatar>
                    <h2>{{ pr.friend.name }}</h2>
                    <p>{{ pr.message.text }}</p>
                </button>
            </ion-item-sliding>
        </ion-list>
    </div>

</ion-content>
