<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-segment [(ngModel)]="type">
        <ion-segment-button value="rooms">
            Rooms
        </ion-segment-button>
        <ion-segment-button value="private">
            Private
        </ion-segment-button>
    </ion-segment>

    <ion-buttons end *ngIf="type=='private'">
        <button (click)="createPrivateTopic()">
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-buttons>

    <ion-buttons end *ngIf="user.isAdmin && type!=='private'">
        <button (click)="createPublicTopic()">
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-buttons>

</ion-navbar>

<ion-content class="outer-content">
    <div [ngSwitch]="type">
        <ion-list *ngSwitchWhen="'rooms'">
            <ion-item-sliding *ngFor="let room of rooms | async">
                <button ion-item no-border (click)="openChatRoom(room)">
                    <h2>{{ room.name }}</h2>
                    <p *ngIf="room.lastMessage!=null">{{room.lastMessage.text}}</p>
                </button>
            </ion-item-sliding>
        </ion-list>

        <ion-list *ngSwitchWhen="'private'">
            <ion-item-sliding *ngFor="let pr of privateRooms | async">
                <button ion-item no-border (click)="openPrivateRoom(pr)">
                    <ion-avatar *ngIf="pr.user!=null" item-left>
                        <img [src]="pr.user.photoURL">
                    </ion-avatar>
                    <h2>{{pr.name}}</h2>
                    <p *ngIf="pr.lastMessage!=null">{{pr.lastMessage.text}}</p>
                </button>
            </ion-item-sliding>
        </ion-list>
    </div>

</ion-content>
