<ion-header>
    <ion-navbar>
        <button ion-button menuToggle icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Test
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content chat" #content>
    <div class="history">
        <div class="wrapper">
            <div class="msg" *ngFor="let message of messages | async" [ngClass]="(message.type == 'in') ? 'in' : 'out'">
                <div class="text">{{ message.text }}</div>
                <div class="avatar">
                    <img src="{{ user.photoURL }}" *ngIf="(message.type === 'in') && user?.photoURL!=null"/>
                    <img src="{{ message.user.photoURL }}"
                         *ngIf="(message.type === 'out') && message.user?.photoURL!=null"/>
                </div>
            </div>
        </div>
    </div>
    <ion-fab right bottom>
        <button ion-fab mini (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
<!--ion-footer [keyboardAttach]="content">
    <ion-toolbar position="bottom">
        <ion-item no-lines>
            <ion-input placeholder="Введите сообщение" clearInput [(ngModel)]="message"></ion-input>
            <button ion-button outline clear item-right (click)="sendMessage(message);">
                Отправить
            </button>
        </ion-item>
    </ion-toolbar>
</ion-footer-->
