<ion-header>
    <ion-toolbar>
        <ion-title>
            Добавить
        </ion-title>
        <ion-buttons start>
            <button (click)="dismiss()">
                <span primary showWhen="ios">Отмена</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <form [formGroup]="form" novalidate>
            <ion-item class="no-border" [class.error]="!name.valid && name.touched">
                <ion-label floating>Наименование</ion-label>
                <ion-input formControlName="name" type="text"></ion-input>
            </ion-item>
        </form>
    </ion-list>
    <div padding>
        <button block (click)="addRoom($event)">
            <ion-icon name="add"></ion-icon>
            Добавить комнату
        </button>
    </div>

</ion-content>
