<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            Список объявлений
        </ion-title>

        <ion-buttons end *ngIf="user.isAdmin">
            <button (click)="createTopic()">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>
<ion-content class="outer-content">
    <ion-list>
        <ion-item-sliding *ngFor="let room of rooms | async">
            <button ion-item no-border (click)="openRoom(room)">
                <h2>{{ room.name }}</h2>
                <p *ngIf="room.lastMessage!=null">{{room.lastMessage.text}}</p>
            </button>
        </ion-item-sliding>
    </ion-list>
</ion-content>
