<ion-header>
    <ion-navbar>
        <button ion-button menuToggle icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Регистрация</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="login-page">

    <ion-list>
        <div class="logo">
            <img src="assets/img/logo.png">
        </div>

        <form [formGroup]="FORM" novalidate>
            <ion-item>
                <ion-label floating primary>Логин</ion-label>
                <ion-input formControlName="login" type="email" required>
                </ion-input>
            </ion-item>
            <p [hidden]="login.valid" danger padding-left>
                Логин является обязательны
            </p>

            <ion-item>
                <ion-label floating primary>Пароль</ion-label>
                <ion-input formControlName="password" type="password" required>
                </ion-input>
            </ion-item>
            <p [hidden]="password.valid" danger padding-left>
                Пароль является обязательным (мин. 8 символов)
            </p>

            <div padding>
                <button ion-button (click)="onSignup($event)" primary block>Создать аккаунт</button>
            </div>
        </form>
    </ion-list>

</ion-content>