<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        Login page
    </ion-title>
</ion-navbar>

<ion-content>
    <div class="center"></div>
    <div class="logo">
        <img src="build/img/logo.png"/>
    </div>

    <form [ngFormModel]="authForm" novalidate>
        <ion-item [class.error]="!login.valid && login.touched">
            <ion-label floating primary>Пользователь(email)</ion-label>
            <ion-input [ngFormControl]="login" type="text" required></ion-input>
        </ion-item>

        <ion-item [class.error]="!password.valid && password.touched">
            <ion-label floating primary>Пароль</ion-label>
            <ion-input [ngFormControl]="password" type="password" required>
            </ion-input>
        </ion-item>
        <!--<p [hidden]="password.valid || submitted == false" danger padding-left>
            Password is required
        </p>-->

        <div padding>
            <button block (click)="onLogin($event)">Войти</button>
            <div class="center"></div>
            <button block small clear (click)="registerUser($event)">Создать аккаунт</button>
        </div>
        <div padding>
            <button block class="facebook-btn" (click)="registerUserWithFacebook()">
                <ion-icon name="logo-facebook"></ion-icon>
                Войти через Facebook
            </button>
            <div class="center"></div>
            <button block class="google-btn" (click)="registerUserWithGoogle()">
                <ion-icon name="logo-google"></ion-icon>
                Войти через Google
            </button>
        </div>
    </form>

</ion-content>
